@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
  }

  .font-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .font-noto-sans {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  /* INDEX */
  @font-face {
    font-family: "NetflixSans-Bold";
    src: url("../public/fonts/NetflixSans-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "NetflixSans-Medium";
    src: url("../public/fonts/NetflixSans-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "NetflixSans-Regular";
    src: url("../public/fonts/NetflixSans-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "NetflixSans-Light";
    src: url("../public/fonts/NetflixSans-Light.woff2") format("woff2");
  }

  .font-jakarta {
    font-family: "JakartaSans-Regular";
  }

  .font-bold {
    font-family: "NetflixSans-Bold";
  }

  .font-medium {
    font-family: "NetflixSans-Medium";
  }

  .font-regular {
    font-family: "NetflixSans-Regular";
  }

  .font-light {
    font-family: "NetflixSans-Light";
  }

  h1,
  h2,
  h3,
  p,
  span,
  li {
    @apply text-[#DDDDDD];
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  span {
    @apply text-xs;
  }

  .regexInput {
    @apply relative w-full h-12 px-4 placeholder-transparent transition-all border rounded-xl outline-none text-slate-500;
  }
  
  .regexInput:focus {
    @apply border-blue-500 outline-none;
  }
  
  .regexInput:invalid {
    @apply border-pink-500 text-pink-500;
  }
  
  .regexInput:focus:invalid {
    @apply border-pink-500;
  }
  
  .regexInput:disabled {
    @apply cursor-not-allowed bg-slate-50 text-slate-400;
  }
}